::ng-deep .p-fileupload {
  width: 100%;
  height: 100%;

  .p-fileupload-choose {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #ccc;

    &:hover {
      background: transparent;
      border-color: #00b0ff;

      .p-button-label {
        color: #00b0ff;
      }
    }

    .p-button-icon-left {
      display: none;
    }

    .p-button-label {
      color: #ccc;
    }
  }
}

.avatar-slot-container {
  position: absolute;
  width:  100px;
  height: 100px;
  border-radius: 3px;
}

.image-preview {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  i {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
