@import "../../styles.scss";

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 120px;
  height: 120px;
  margin: 0 2px;
  border: 2px solid $primary-btn-active-color;
  cursor: pointer;

  &.selected {
    border-color: white;
  }

  &__image {
    width: 96px;
    height: 96px;
    object-fit: scale-down;
  }

  .frame__total_duration {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    width: 100%;
    height: 20px;
    background-color: $primary-btn-active-color;
    color: white;

    .pi {
      font-size: 14px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}
