<div class="assets-list-panel">
  <panel title="{{ 'ASSETSLIST.TITLE' | translate }}">
    <panel-body>
      <ul class="assets-list">
        <ng-container *ngFor="let image of images; let i = index">
          <li
            *ngIf="!image.isBlank"
            class="asset-item"
            [class.selected]="image === selectedImage"
          >
            <div class="asset-item__info">
              <img src="{{ image.url }}" />
              <p>
                {{ image.name }}
              </p>
            </div>
            <div class="asset-item__actions">
              <i class="pi pi-reply" (click)="onSelectImage(image)"></i>
              <small-cross (click)="onDeleteImage(image)"></small-cross>
            </div>
          </li>
        </ng-container>
      </ul>

      <input
        type="file"
        accept="image/jpeg, .jpeg, image/png, .png, image/jpeg, .jpg"
        multiple
        #file
        style="display: none"
        (change)="onAddImages($event)"
      />
      <button class="btn" (click)="file.click()">
        {{ "ASSETSLIST.ADD" | translate }}
      </button>
    </panel-body>
  </panel>
</div>
<p-toast position="top-center"></p-toast>
