<div class="humanoid-assets-upload">
  <p-toast position="top-center" key="tc"></p-toast>
  <div class="humanoid-assets-upload__sidebar">
    <input
      type="text"
      [(ngModel)]="humanoidDescNode.name"
      pInputText
      class="p-inputtext-sm"
      placeholder="Small"
    />
    <avatar-preview (onTurnAround)="turnAroundHumanoidSlots()"></avatar-preview>
    <button class="btn save-upload-btn" (click)="saveAndUpload()">
      保存上传
    </button>
    <ng-container *ngIf="thumbnailUploadFileConfig">
      <humanoid-thumbnail
        [thumbnailUploadFileConfig]="thumbnailUploadFileConfig"
        (onThumbnailSelect)="handleThumbnailSelect($event)"
        (onThumbnailRemove)="handleThumbnailRemove()"
      ></humanoid-thumbnail>
    </ng-container>
  </div>
  <div class="humanoid-assets-upload__rightbar">
    <!-- <tooltip #myTooltip>
      <div class="tooltip-content">
        <p>
          By checking the [<i class="pi pi-broom"></i>/ set empty] icon on a
          block in the parts form meanings when a character put on this costume,
          it will reset the checked parts first, then put on this costume.
        </p>
        <p>
          By checking the [<i class="pi pi-removebase"></i>/ remove base] icon
          on a block in the parts form meanings when a character put on this
          costume, it will remove any costumes on the part, including its base
          texture, then put on this costume
        </p>
      </div>
      <div class="tooltip-actions">
        <button (click)="closeTooltip()">Got it</button>
      </div>
    </tooltip> -->
    <!-- <button [tooltipTriggerFor]="myTooltip">Show</button> -->
    <ng-container *ngIf="isFront; else contentBack">
      <div class="humanoid-assets-upload__content content-front">
        <ng-container *ngFor="let config of frontSlotConfigs">
          <humanoid-slot
            [slotConfig]="config"
            (onAssetSelect)="handleSlotAssetSelect($event)"
            (onRemove)="handleSlotTakeoff($event)"
            (onEmptyOverride)="handleEmptyOverride($event)"
            (onRemoveBase)="handleRemoveBase($event)"
          ></humanoid-slot>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #contentBack>
      <div class="humanoid-assets-upload__content content-back">
        <ng-container *ngFor="let config of backSlotConfigs">
          <humanoid-slot
            [slotConfig]="config"
            (onAssetSelect)="handleSlotAssetSelect($event)"
            (onRemove)="handleSlotTakeoff($event)"
            (onEmptyOverride)="handleEmptyOverride($event)"
            (onRemoveBase)="handleRemoveBase($event)"
          ></humanoid-slot>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>
