.element-editor {
  padding: 5px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2px 2px;
  grid-template-columns: repeat(6, 212px);
  grid-template-rows: repeat(16, 50px);

  ::ng-deep element-settings {
    grid-row-start: 1;
    grid-row-end: 6;
  }


  ::ng-deep assets-list {
    grid-row-start: 6;
    grid-row-end: 12;
  }

  ::ng-deep animation-list {
    grid-row-start: 12;
    grid-row-end: 17;
  }

  ::ng-deep element-editor-canvas {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 13;
  }

  ::ng-deep time-line {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 13;
    grid-row-end: 17;
  }

  ::ng-deep animation-layer-controller {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  ::ng-deep animation-layer-setting {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  ::ng-deep element-attributes {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;
  }

  ::ng-deep character-action-setting {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 13;
  }
}
