<ng-container *ngIf="element; else loading">
  <div class="element-editor">
    <element-settings [element]="element"></element-settings>
    <assets-list></assets-list>
    <animation-list [element]="element"></animation-list>

    <element-editor-canvas [element]="element"></element-editor-canvas>
    <time-line></time-line>

    <animation-layer-controller></animation-layer-controller>
    <animation-layer-setting></animation-layer-setting>
    <element-attributes [element]="element"></element-attributes>
    <character-action-setting></character-action-setting>
  </div>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>
