<panel title="{{ 'ELEMENTEDITOR.LAYERSETTINGS' | translate }}">
    <panel-body>
        <div id="offsetLoc" *ngIf="selectLayer && selectLayer.offsetLoc">
            <span>
                <span>{{ 'ELEMENTEDITOR.OFFSET' | translate }}: </span>
                <input class="offset-input" id="float-input" width="30px" type="number" v-text="0"
                    (blur)="updateOffset()" size="14" [(ngModel)]="selectLayer.offsetLoc.x" pInputText>

                <input class="offset-input" id="float-input" width="30px" type="number" v-text="0"
                    (blur)="updateOffset()" size="14" [(ngModel)]="selectLayer.offsetLoc.y" pInputText>
            </span>
        </div>
    </panel-body>
</panel>
