<panel title="{{ 'ELEMENTEDITOR.LAYERSETTINGS' | translate }}">
  <panel-body>
    <div class="animation-layer-setting" *ngIf="selectedLayer && selectedLayer.offsetLoc">
      <span>{{ "ELEMENTEDITOR.OFFSET" | translate }}: </span>
      <input
        class="offset-input pi-form"
        type="number"
        v-text="0"
        (change)="updateOffset()"
        size="14"
        [(ngModel)]="selectedLayer.offsetLoc.x"
      />

      <input
        class="offset-input pi-form"
        type="number"
        v-text="0"
        (change)="updateOffset()"
        size="14"
        [(ngModel)]="selectedLayer.offsetLoc.y"
      />
    </div>
  </panel-body>
</panel>
