/* You can add global styles to this file, and also import other style files */

.pi-flip {
  background: url("./assets//flip.png") no-repeat center;
  background-size: contain;
}

.pi-arrow-circle {
  background: url("./assets//arrow-circle.png") no-repeat center;
  background-size: contain;
}

.pi-broom {
  background: url("./assets/broom.png") no-repeat center;
  background-size: contain;
}
