.time-line-panel {
  height: 100%;

  ::ng-deep .panel .panel__body {
    height: 188px;
  }

  .time-line {
    .animation-settings {
      display: flex;
      align-items: center;
      margin-top: 10px;
      .pixel {
        cursor: pointer;
      }

      &__play-buttons {
        display: flex;
        align-items: center;
        margin: 0 10px;

        .pi {
          width: 20px;
          height: 20px;
          cursor: pointer;
          margin-right: 3px;
        }

        .framerate-select {
          width: 84px;
          height: 20px;
          background: transparent;
          color: white;
          border-radius: 3px;

          option {
            color: #000;
          }
        }
      }
    }
  }
}

.frame-time-list {
  height: 130px;
  padding: 10px 10px 0 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  animation-frame {
    height: 120px;
  }
}

.frame-time-list li {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #eee;
  margin: 0 2px;
  border-radius: 4px;
}

.frame-time-list li.selected:hover {
  background-color: #bbd8dc !important;
  color: white;
}

.frame-time-list li:hover {
  color: #607d8b;
  background-color: #ddd;
}

.time-line-tools {
  display: flex;
  padding-left: 6px;
  align-items: center;
  color: white;

  .pi {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    cursor: pointer;
  }

}

.time-line-fps-input {
  width: 40px;
  text-align: center;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
